extends layout

block content
  h1= contact.firstName + ' ' + contact.lastName
  p Email: #{contact.email}
  p Notes: #{contact.notes}
  p dateCreated #{contact.dateCreated}
  // Add more details as needed
