extends layout

block content
  .container
    h1 Add New Contact
    form(method='POST', action='/contacts')
      .form-group
        label(for='firstName') First Name
        input#firstName.form-control(type='text', name='firstName', required)
      .form-group
        label(for='lastName') Last Name
        input#lastName.form-control(type='text', name='lastName', required)
      .form-group
        label(for='email') Email
        input#email.form-control(type='email', name='email')
      .form-group
        label(for='notes') Notes
        textarea#notes.form-control(name='notes')
      button.btn.btn-primary(type='submit') Add Contact
      router.get('/contacts/new', function(req, res) {
    res.render('create-contact', { title: 'Add New Contact' });
});