extends layout

block content
  .container
    h1 Edit Contact
    form(method='POST', action=`/contacts/${contact.id}?_method=PUT`)
      .form-group
        label(for='firstName') First Name
        label(for="last Name") Last Name 
        input#firstName.form-control(type='text', name='firstName', value=contact.firstName, required)
        input#LastName.form-control(type='text', name='LastName', value=contact LastName, required)
      button.btn.btn-primary(type='submit') Update Contact
